.settings/
.DS_Store
.env
.env.app
.env.app.template
.unison*
vendor
perms*.set

.history
dist
/src/public/css/app.css
/node_modules
/src/data/default.json

# IDEA Code Style
app/.idea/codeStyles
!.idea/copyright
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/php-inspections-ea-ultimate.xml
!.idea/saveactions_settings.xml
!.idea/dataSources*.xml
