<div class="flex justify-between items-center">
    <h2 class="text-2xl font-bold mt-8 mb-4 border-t pt-6 text-gray-800">Links</h2>
    <button type="button" id="add-link" class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Add Link
    </button>
</div>
<div id="links-container" class="space-y-4">
    <% data.links.forEach((link) => { %>
        <%- include('EditLinkItem', { link: link}) %>
    <% }); %>
</div>